<nav class="navbar navbar-expand-lg">
   <div class="d-flex justify-content-center" >
    <img src="tulogo.png" alt="">
   </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-column">
        <li *ngFor="let dropdown of dropdowns" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" (click)="toggleDropdown(dropdown)">
            {{ dropdown.title }}
          </a>
          <div class="dropdown-menu" [ngClass]="{ 'show': dropdown.isOpen }">
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  